* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 15px;
    background-color: black;
    color: rgb(99, 99, 99);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

 main{
    display: flex;
    justify-content: center;
 }

section{
    margin-top: 100px;
}

form {
    width: 520px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.row {
    display: flex;
    gap: 10px;
}

input[type="text"] {
  flex: 1;
  height: 35px;
  border-radius: 6px;
  border: solid 1px;
  padding-left: 15px;
}


button {
    height: 35px;
    padding: 0 14px;
    border-radius: 5px;
    border: solid 1px;
    background-color: rgb(57, 57, 244);
    color: aliceblue;
    cursor:pointer;
}

button:hover {
    opacity: 0.9;
}

ul {
    list-style: none;
    margin-top: 25px;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}


.todo-text {
    flex: 1;
    font-size: 16px;
    word-break: break-word;
}


.todo-delete {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
}
.is-done .todo-text {
    text-decoration: line-through;
    opacity: 0.6;
}
